.places__place_text {
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0;
    gap: 26px;
}

@media  screen and (max-width: 1279px){
    .places__place_text  {
       gap:26px;
    } 
  }
  
  @media  screen and (max-width: 1023px){
    .places__place_text {
       gap: 27px;
  }
}
  
  @media  screen and (max-width: 767px){
    .places__place_text {
        gap: 26px;
    } 
  }
  
  @media  screen and (max-width: 319px){
    .places__place_text {
       gap: 25;
    } 
  }