.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 984px;
  min-height: 1005px;
}

@media  screen and (max-width: 2560px){
  .lead {
    max-width: 984px;
    min-height: 615px;
    margin: 64px 148px 0;
  } 
}

@media  screen and (max-width: 1024px){
  .lead {
    max-width: 928px;
    min-height: 580px;
    margin: 56px 48px 0;
  } 
}

@media  screen and (max-width: 768px){
  .lead {
    max-width: 768px;
    min-height: 480px;
    margin: 56px 0 0;
  } 
}

@media  screen and (max-width: 320px){
  .lead {
    max-width: 320px;
    min-height: 200px;
    margin: 0;
  } 
}