.places__place_website {
  display: flex;
  flex-direction: column;
  max-width: 456px;
  max-height: 46px;

  padding-bottom: 48px;
  margin: 0;
  grid-area: website;
  gap: 12px;
  width: 100%;
}

@media  screen and (max-width: 1440px){
  .places__place_website {
      max-width: 456px;
      
  } 
}

@media  screen and (max-width: 1024px){
  .places__place_website {
      max-width: 456px;
      
  } 
}

@media  screen and (max-width: 768px){
  .places__place_website {
      max-width: 352px;
    
  } 
}

@media  screen and (max-width: 320px){
  .places__place_website {
      max-width: 288px;
      margin-left: 16px;
  } 
}