.lead__image {
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  max-width: 100%;
  object-fit: cover;
  align-self: flex-start;
  margin-bottom: 8px;
}

@media screen and (max-width: 320px) {
  .lead__image {
    min-height: 200px;
    margin: 0 0 8px;
  }
}