.place__text-paragraph {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 0 auto;
  align-self: flex-start;
}

@media screen and (max-width: 768px) {
  .place__text-paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 320px) {
  .place__text-paragraph {
    align-items: center;
    max-width: 288px;
  }
}